*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe Ui';
}
body{
    background-color: rgb(6, 5, 5);
    background-image: url(img/background.jpg);
   
    
}
img{
    width: 200px;
    align-items: flex-end;
    margin-bottom: 60px;
    /* margin-top: 50px; */
}
.FORMCONT{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 120px;
    
    
}
.form {
    background-color: black;
    opacity: 95%;
    width: 30vw;
    height: 90vh;
    color: white;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding: 20px;  
}
input {
    width: calc(100% - 20px);
    height: 35px;
    margin-top: 70px;
    background-color: rgba(37, 32, 32, 0.737);
    border: none;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
}
input::placeholder{
    color: grey;
    padding-left: 20px;
    padding-bottom: 70px;
}
form h2{
    padding-top: 40px;
}
button{
    background-color: red;
    color: white;
    width: 100%;
    height: 35px;
   margin-top: 50px;
   border: none;
}
span{
    background-color: gray;

}

#rem {
    width: 18px;
    height: 18px;
    /* padding-top: 2px; */
    margin-top: 3px;
    
}
#me{
    padding-bottom: 9px;
    padding-left: 2px;
}
.sign{
    display: flex;
    flex-direction: row;
}
#id{
    padding-left: 40%;
}
.new{
    display: flex;
    flex-direction: row;
    gap: 3px;
    margin-top: 10px;
}
#big{
    font-weight: 600;
}
.page{
    margin-top: 10px;
}